# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media/static
staticfiles/
media/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
.env.local

# Node (if you use React later)
node_modules/

# Migrations cache
*/migrations/__pycache__/
